Library_type=RNA-Seq
Tissue=Kidney
Condition=None
Replicates=1
Platform=Illumina
Reference_Genome=mm
Alignment_software=STAR_2.7.10
Strandness=stranded
Annotation=GencodeV41
GTF=""

RNAQC_BED=/public/users/youz/database/RNAQC/mm10_GENCODE_vm25.bed
RNAQC_rRNA=/public/users/youz/database/RNAQC/mm10_rRNA.bed
RNA_HK=/public/users/youz/database/RNAQC/mm10.HouseKeepingGenes.bed


cores=1
RAM=20G # adjust by bam size




