Library_type=RNA-Seq
Tissue=Kidney
Condition=None
Replicates=1
Platform=Illumina
Reference_Genome=hg38
Alignment_software=STAR_2.7.10
Strandness=stranded
Annotation=GencodeV41
GTF=/public/users/youz/software/hg38/gencode.v41.chr_patch_hapl_scaff.annotation.gtf

RNAQC_BED=/public/users/youz/database/RNAQC/hg38_GENCODE_V42_Comprehensive.bed
RNAQC_rRNA=/public/users/youz/database/RNAQC/hg38_rRNA.bed
RNA_HK=/public/users/youz/database/RNAQC/hg38.HouseKeepingGenes.bed


cores=1
RAM=20G # adjust by bam size




